doctype html
//-------------------------------------------- ghislain.bernard@gmail.com --------------------------------------------//

html

  head

    meta(charset='UTF-8')
    meta(content='width=device-width,initial-scale=1' name='viewport')

    link(href='./favicon.ico' rel='shortcut icon')
    link(href='./style.css' rel='stylesheet')

    title template

  body

    main
      .avatar
        .picture
          img(alt='avatar' src='avatar.png?as=avif')

      include index.html

    script(src='./script.ts',type='module')

//-------------------------------------------- ghislain.bernard@gmail.com --------------------------------------------//
